@page "/administrator"
@inject ILocalStorage LocalStorage
@inject AuthService authService

<h2>Administrator</h2>
<h3>@loggedInName @loggedInSurname</h3>

@code {

	string loggedInName = "";
	string loggedInSurname = "";

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		//username = await LocalStorage.GetStringAsync("user");
		//username = null;
		loggedInName = await LocalStorage.GetStringAsync("loggedInName");
		loggedInSurname = await LocalStorage.GetStringAsync("loggedInSurname");
		authService.SetCurrentRoleName("administrator");
	}

     
}
